.user {
    display: flex;
    padding-left: 30px;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: flex-end;

    z-index: 1011;

    .username {
        display: flex;
        padding-right: 30px;
        flex-direction: column;
        text-align: right;

        color: #3bf;

        font-weight: 300;

        .name {
            font-size: 20px;
        
            user-select: none;
        }

        .email {
            color: #aaa;

            font-size: 14px;
            font-weight: 200;
        }
    }

    .button {
        display: flex;
        width: 100px;
        height: 100px;
        padding: 0;
        margin-left: -60px;
        justify-content: center;
        align-content: center;

        background-color: transparent;

        border: none;
        outline: none;

        cursor: pointer;

        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

        svg {
            width: 30px;
            height: 30px;
            
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }

    .loggedIn {
        width: 100px;
        margin-left: 0;
        margin-right: -90px;

        color: #fff;
        background-color: #fe714d;
    }
}

.user:hover > .loggedIn {
    margin-right: 0;
}